<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/london.jpg)">
  <div class="container">
    <h1><strong>Your Movie Lists 🎬</strong></h1>
    <p>Save your favorite movies in lists dedicated to specific occasions.</p>
    <br>

    <%= link_to 'New List', new_list_path, class: 'btn btn-info' %>
  </div>
</div>

<table>
  <% @lists.in_groups_of(2, false) do |row| %>
    <tr>
      <% row.each do |list| %>
        <td>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/london.jpg)">
            <%= link_to list.name.capitalize, list_path(list) %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<br>
