<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center">
  <div class="col-lg-4">
    <div>
      <h2 class=text-center>Add a New List</h1>
      <%= render 'form', list: @list %>
      <%= link_to 'Back', lists_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
